#background{
    background: url("../../assets/Home-Earth.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.fonts{

   font-family:sans-serif;
	background-color:#fff;
	font-size:16px;
	line-height:1.6;
	font-family:"LMRomanSlant10",serif;
	color:#111;
    font-style: italic;
    text-align: center;
}

.head{
    font-size: 42px;
font-family: "Raleway",Helvetica,sans-serif;
font-weight: 100;
}